.tony-body {
  color: rgba(255, 255, 255, 0.55);
  background: #26262d;
  font-family: 'Poppins', sans-serif;
  margin: 0 8px;
}

.top-negative{
  top: -5%;
  position: relative;
}

/* Header */
.header{
  z-index: 10;
  top: 0;
  background: #31313a;
  width: calc(100% - 16px);
  height: 70px;
  position: fixed;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0;
  box-shadow: black 1px 1px 50px;
}

.tony-nav{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.tony-nav-item{
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  width: 25%;
  text-align: center;
  border-right: solid 1px #676767c7;
}

.tony-nav-item:last-child{
  border:none
}

.tony-nav-item span {
    font-size: 12px;
    margin-top: 5px;
}

.tony-nav-item i{
  font-size: 30px;
}

/* Main content design */
.main{
  background: #31313a;
  height: calc(100vh - 70px);
  position: relative;
}

.background-profile{
  margin-top: 70px;
  filter: drop-shadow(2px 1px 10px black) drop-shadow(-1px -1px 10px black);
  width: 100%;
}

/* Tony profile */
.tony-profile-main{
  width: 30%;
  height: auto;
  border-radius: 50%;
  border: solid 3px grey;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15%;
  position: relative;
}

.tony-name{
  margin-top: 20px;
  color: white;
  text-align: center;
  font-size: 34px;
}

.tony-subtitle{
  text-align: center;
  color: #ff9800;
}

.tony-subtitle-span:before{
  content: '';
  animation: animate infinite 8s;
}

@keyframes animate{
  0%{
    content: "Butcher specialist";
  }
  25%{
    content: "Cocaïn consumer";
  }
  50%{
    content: "Cocaïn dealer";
  }
  75%{
    content: "Mafia chief";
  }
  100%{
    content: "Butcher specialist";
  }
}

/* Tony social*/
.tony-social{
  display: flex;
  justify-content: center;
}

.tony-social-item{
  text-decoration: none;
  width: 24px;
  height: 24px;
  margin: 20px 5px;
}

.tony-social-item i{
  text-decoration: none;
  color: white;
  font-size: 24px;
}

/* Footer */
.footer{
  background: #31313a;
  width: 100%;
  height: 70px;
  text-transform: uppercase;
  display: flex;
  border-radius: 0 0 5px 5px;
}

.tony-footer-item{
  display: flex;
  flex-direction: row;
  color: white;
  text-decoration: none;
  width: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.tony-footer-item span{
  padding-right: 15px;
}

.tony-footer-item:first-child{
  border-right: solid 1px #676767c7;
}

.tony-footer-item{
  border-top: solid 1px #676767c7;
}

/* More infos */
.tony-more-info{
  position: relative;
  background: #31313a;
  width: calc(100% - 60px);
  padding: 30px;
  margin: 20px 0;
  border-radius: 5px;
}

.soft-container, .hard-container, .about-container{
  position: relative;
  margin-bottom: 80px;
}

.tony-about-me:before, .tony-soft-skills:before, .tony-hard-skills:before{
  content: '';
  position: absolute;
  left: -10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: linear-gradient(135deg, rgba(120, 204, 109, 0.4) 0%, rgba(120, 204, 109, 0.01) 100%);
  border-radius: 50%;
}